
{%  extends 'base/index.html' %}
{% load staticfiles %}


{% block content %}
    <link href="{% static 'css/formulario.css'%}" rel="stylesheet">

        <div class="row">
        <section id="container" class="">
          <div class="row">
              <div class="col-lg-12" >
                 <section class="panel">
                       {{ruta|safe}}
                      <header class="panel-heading">
                        EDITAR DEL BANCO
                      </header>
                      <div id="validacionesAtm" class="table-responsive" style="width: 80%; margin: 0 auto;">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p><input type="submit" value="Editar Banco" class="form-control btn btn-info"></p>
                        </form>
                      </div>
                 </section>
              </div>
          </div>
        </section>
    </div>

<script src="{% static 'js/validacionesAtm.js'%}"></script>
    <script>bloquearCampos( {{ form }},{{ tipo }});</script>
{% endblock %}

